<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="/diary/static/add-new-list.css">
    <title>Add new diary</title>

</head>
<body>
    <div id="" class="background">
        <div id="" class=" background-filter d-flex justify-content-center d-flex align-items-center">
            <div id="" class="show-panel d-flex flex-wrap align-content-center">
                <div id="" class="title">
                    <h3>Add new diary</h3>
                    <div id="" class="student-note-content">
                        <div id="" class="student">
                            <p> Note for each student</p>
                            <select name="" id="" disabled="disabled">
                                <option value=""><p>BA TRAM</p></option>
                            </select>
                            <button type="button" class="custom-btn btn">Add more</button>
                            </div>
                            <div id="" class="textbox">
                                <textarea name="" id="" cols="30" rows="10"></textarea>
                            </div>
                            <div id="" class="textbox">
                                <div class="d-flex justify-content-between">
                                    <p>Nguyễn Quỳnh Trang</p>
                                    <a href=""><img src="/diary/static/Icons/2x/baseline_delete_white_18dp.png" alt=""></a>
                                </div>
                                <textarea name="" id="" cols="30" rows="10"></textarea>
                            </div>
                            <div id="" class=" save-button d-flex justify-content-end">
                                <input type="Submit" name ="Save" class= "btn  custom-btn" value="Save">
                            
                    </div>
                </div>
                
            </div>
        
        </div>
    </div>

    
</body>
</html>