<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="/diary/static/show-content.css">
    <title>Show-content</title>
</head>
<body>
    <!-- <div id="" class="background">
        <div id="" class="background-filter d-flex justify-content-center d-flex align-items-center"> -->
            <div id="" class="show-panel d-flex flex-wrap align-content-center justify-content-center">
                <div id="" class="title d-flex justify-content-between">
                    <h3>Session 11 - Dictionary - minihack</h3>
                    <div id="" class="icon-items">
                        <a href=""> <img src="/diary/static/Icons/2x/baseline_edit_white_18dp.png" alt=""></a>
                        <a href=""> <img src="/diary/static/Icons/2x/baseline_delete_white_18dp.png" alt=""></a>
                    </div>
                </div>
                <div id="" class="content-panel">
                    <!-- <div id="" class=" user-info d-flex align-items-end flex-column">
                        <p>Saturday, 06/10/2018</p>
                 
                        <p>Phạm Đức</p>
                    </div>
                    <div id="" class="content">
                        <div id="" class="textbox">
                            <p>Overview :</p>
                            <ul class="">
                                <li>Hôm nay các thanh niên được xem nốt phần còn lại của lít, thời lượng xem video khá ngắn do buổi trước các thanh niên đã xem xong hết các phần còn lại ở nhà, lên lớp chủ yêu là thời gian làm các bài tập còn lại.</li>
                            </ul>
                        </div>
                        <div id="" class="textbox">
                            <p>Curriculum :</p>
                            <ul>
                                <li>Demo tốt</li>
                                <li>Vì lần đầu tiên học viên sử dụng thư viện ngoài nên gặp nhiều khó khăn, ngoài ra  khái niệm API chưa được giải thích rõ nên khá nhiều học viên hỏi</li>
                            </ul>
                        </div>
                        <div id="" class="textbox">
                            <p>Note for ecach student :</p>
                            <ul class="note-text">
                                <p>Vũ Chí Hiếu</p>
                                <ul>
                                    <li>Phong độ vẫn như mọi hôm, không có gì khác biệt</li>  
                                </ul>
                                <p>Vũ Chí Hiếu</p>
                                <ul>
                                    <li>Phong độ vẫn như mọi hôm, không có gì khác biệt</li>  
                                </ul>
                                <p>Vũ Chí Hiếu</p>
                                <ul>
                                    <li>Phong độ vẫn như mọi hôm, không có gì khác biệt</li>  
                                </ul>
                                <p>Vũ Chí Hiếu</p>
                                <ul>
                                    <li>Phong độ vẫn như mọi hôm, không có gì khác biệt</li>  
                                </ul>
                                <p>Vũ Chí Hiếu</p>
                                <ul>
                                    <li>Phong độ vẫn như mọi hôm, không có gì khác biệt</li>  
                                </ul>
                                
                            </ul>

                        </div>

                    </div> -->
                </div>
            </div>
        <!-- </div>
    </div> -->
</body>
</html>