body {
  margin: 0;
  padding: 0; }

.background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  font-family: "Roboto" !important; }

.background-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(1, 2, 3, 0.8); }

.add-diary-box {
  width: 50%;
  max-height: 780px;
  background: #AA6046;
  border-radius: 10px;
  top: 10px; }
  .add-diary-box h1 {
    padding: 10px 0px 5px 20px;
    font-size: 30px;
    color: white; }
  .add-diary-box .textbox {
    padding: 20px 20px 10px 20px; }
    .add-diary-box .textbox p {
      margin: 0;
      font-size: 18px;
      margin-bottom: 0 !important;
      padding: 0;
      color: white; }

.mytext-1 {
  max-width: 120px;
  height: 30px;
  border: 0px;
  border-radius: 8px; }

.mytext-2 {
  max-width: 100px;
  height: 30px;
  border: 0px;
  border-radius: 8px; }

.mytext-3 {
  max-width: 150px;
  height: 30px;
  border: 0px;
  border-radius: 8px; }

.mytext-4 {
  max-width: 150px;
  height: 30px;
  border: 0px;
  border-radius: 8px; }

.overview-content {
  padding: 0px 20px 0px 20px; }
  .overview-content p {
    margin: 0;
    color: white; }
  .overview-content textarea {
    max-height: 150px;
    width: 100%;
    broder: 0px;
    border-radius: 10px; }

.cirriculum-content {
  padding: 8px 20px 0px 20px; }
  .cirriculum-content p {
    margin: 0;
    color: white; }
  .cirriculum-content textarea {
    max-height: 150px;
    width: 100%;
    broder: 0px;
    border-radius: 10px; }

.student-note-content .student {
  padding: 10px 20px 15px 20px; }
  .student-note-content .student p {
    margin-bottom: 5px;
    color: white;
    font-style: bold; }
  .student-note-content .student select {
    border: 0px;
    border-radius: 4px 7px 7px 4px;
    height: 30px;
    width: 200px;
    background: #cccccc;
    color: black; }
  .student-note-content .student button {
    height: 30px;
    text-align: center;
    padding: 0px 6px;
    margin: 0px 15px;
    color: white;
    background: #87321b !important; }

.student-note-content .student-note {
  padding: 0px 20px; }
  .student-note-content .student-note textarea {
    max-height: 70px;
    width: 100%;
    border: 0px;
    border-radius: 4px 7px 3px 3px; }

.student-note-content .save-button {
  padding: 10px 20px; }
  .student-note-content .save-button input {
    background: #87321b !important;
    color: white;
    font-size: 28px;
    border: 0px;
    border-radius: 20px;
    padding: 5px 22px; }
